@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só um elemento)
    em HTML é class = em CSS é . (pode ter vários elementos)
*/

body {
    background-color: rgb(200, 231, 211);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(123, 170, 136);
}

h1#principal {
    text-align: center;
    background-color: rgb(29, 46, 29);
}

h2 {
    color: rgb(73, 90, 78);
}

.basico {
    color: rgb(29, 204, 146);
}

.intermediario {
    color: rgb(204, 192, 29);
}

.avançado {
    color: rgb(204, 29, 29);
}